body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-holder {
  position: absolute;
  width: fit-content;
}
.poster {
  width: 150px;
  height: 190px;
}
ul {
  background-color: rgba(3, 4, 20, 0.61);
  list-style: none;
  display: flex;
  position: relative;
  bottom: 30px;
  justify-content: space-evenly;
  gap: 0px;
  margin: 0;
  padding: 0;
}
.movie-card {
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 190px;
}
/* .button {
  border: 0;
  background-color: none;
} */

.card-holder:hover {
  border: 1px green solid;
}
