  <div class="movie-card">
    <!-- <div class="card-holder"> -->
      <a href="/movie">
        <img class="img-fluid rounded-start poster" [src]="movie.posterimagePath" alt="">
      </a>
      <div class="buttons-holder">
        <ul>
          <li *ngIf="buttons"><button (click)="onAddToWatched(movie)">✔</button></li>
          <li *ngIf="buttons"><button (click)="onAddToFavorites(movie)">❤</button></li>
          <li *ngIf="buttons"><button (click)="onAddToWatchlist(movie)">👁‍🗨</button></li>
          <li *ngIf="!buttons"><button class="delete-button" (click)="deleteMovie(movie, componentName)">❌</button></li>
        </ul>
      </div>
    </div>
    <!-- <p>Name</p> -->
  <!-- </div> -->
