<div class="row">
  <div class="col-3 movie-card">
    <div class="card-holder">
      <img class="img-fluid rounded-start poster" [src]="movie.posterimagePath" alt="">
      <div class="buttons-holder">
        <ul>
          <li><button (click)="onAddToWatched(movie)" *ngIf="buttons">watch</button></li>
          <li><button (click)="onAddToFavorites(movie)" *ngIf="buttons">love</button></li>
          <li><button (click)="onAddToWatchlist(movie)" *ngIf="buttons">add</button></li>
          <li><button class="delete-button" (click)="deleteMovie(movie, componentName)" *ngIf="!buttons">delete</button></li>
        </ul>
      </div>
    </div>
    <!-- <p>Name</p> -->
  </div>
</div>
